{% extends 'default.html' %}

{% block content %}
<h1>Поиск новостей</h1>
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit" class="btn btn-primary">Искать</button>
</form>

<h2>Результаты поиска</h2>
<ul>
    {% for post in filter.qs %}
    <li>
        <a href="{% url 'news_detail' post.id %}">{{ post.title }}</a>
        <p>{{ post.dateCreation|date:"d.m.Y" }}</p>
        <p>{{ post.text|truncatechars:20 }}</p>
    </li>
    {% empty %}
    <li>Новости не найдены.</li>
    {% endfor %}
</ul>
{% endblock %}